@import 'npm:normalize.css/normalize.css';
@import 'npm:tikzjax/dist/fonts.css';

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
}

#header-text {
    margin-block: 0;
}

#main-container {
    display: flex;
    /* 使编辑器和输出容器并排显示 */
    flex: 1;
    /* 占据剩余空间 */
}

#editor {
    width: 50%;
    height: 100%;
    /* 充满父容器的高度 */
    border-right: 1px solid #ccc;
}

#output-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* 充满父容器的高度 */
}

#output {
    flex: 2;
    /* 2/3 of the height */
    border-bottom: 1px solid #ccc;
    overflow: auto;
    padding: 10px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
}

#log {
    flex: 1;
    /* 1/3 of the height */
    background-color: #f1f1f1;
}

#header input[type="checkbox"] {
    margin-right: 10px;
}

#header button {
    padding: 5px 10px;
}

#svg-container {
    align-self: center;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}